
  
  <div class="partners__contact row align-center">
    <div class="small-12 medium-12 columns text-center partners__contact__text">
      <h1>Contact</h1>
      {{site.contact-text | markdownify}}
    </div>
    
    <div class="small-12 medium-8 columns text-center partners__contact__buttons">
      <a href="/uploads/inside-retail-partner-opportunities-2017.pdf" target="_blank"  class="secondary button expanded">Sales Brochure</a><br>
      <a href="https://lp.events.ascential.com/rs/324-QRH-396/images/Inside-Retail-Strategic-Partnership-Opportunities_Partner-Pod.png" target="_blank" class="secondary button expanded">Partner Opportunities</a><br>
      <a href="https://lp.events.ascential.com/rs/324-QRH-396/images/Inside-Retail-Strategic-Partnership-Opportunities_Market-Research.png" target="_blank"  class="secondary button expanded">Market Research</a><br>
      <a href="https://lp.events.ascential.com/rs/324-QRH-396/images/Inside-Retail-Strategic-Partnership-Opportunities_Market-Growth-and-Lead-Generation.png" target="_blank" class="secondary button expanded">Lead Generation</a>
    </div>
    
    <div class="small-12 medium-12 columns text-center partners__contact__form">
      <script src="//app-sj17.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_10321"></form>
      <script>MktoForms2.loadForm("//app-sj17.marketo.com", "324-QRH-396", 10321);</script>
    </div>
    
  </div>

    
