<!-- Footer Top -->
<div class="row expanded">
  <div class="small-6 columns">
  <ul class="menu">
	<li><a href="/" class="header__home"><img src="{{ site.logo }}" class="header__logo" alt="{{ site.title }}" /></a></li>
  </ul>
  </div>
</div>
<!-- End Footer Top -->

<!-- Footer Bottom -->
<div class="row expanded">
  <div class="small-6 columns">
  <ul class="menu">
	<li><a href="#">© {{ site.time | date: '%Y' }} {{site.company}}</a></li>
  </ul>
  </div>
  <div class="small-6 columns">
  <ul class="menu align-right">
	<li><a href="#"><svg class="icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg></a></li>
	<li><a href="#"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a></li>
    <li><a href="#"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
    <li><a href="#"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
    <li class="menu-text">Connect</li>
  </ul>
  </div>
</div>
<!-- End Footer Bottom -->