<div class="orbit" role="region" aria-label="Hero Carousel" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-arrow-left4"><use xlink:href="#icon-arrow-left4"></use></svg></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-arrow-right4"><use xlink:href="#icon-arrow-right4"></use></svg></button>
    
    {% assign slide_documents = site.carousel | sort:"position" %}
	{% for slide in slide_documents %}
    <li class="orbit-slide">
      <img class="orbit-image" src="{{slide.image}}" alt="{{act.title}}">
      <div class="orbit-header">
	      <div class="row align-center expanded">
		  <div class="small-11 medium-8 columns">
	      <h6 class="carousel__title uppercase"><span class="carousel__highlight">{{slide.title}}</span></h6>
	      <h1 class="carousel__header"><span class="carousel__highlight">{{slide.header}}</span></h1>
	      <h5 class="carousel__subheader"><span class="carousel__highlight">{{slide.subheader}}</span></h5>
	      </div>
	      </div>
	  </div>
    </li>
	{% endfor %}
	
  </ul>
  
</div>