<div class="row expanded columns sponsors">
	
	<div class="row">
	<div class="small-12 columns text-center">
	<h5>Sponsors</h5>
	</div>
	</div>
	
	<div class="row">
	<div class="small-12 columns">
		<ul class="menu align-center sponsors__menu">
			<li><a href="http://www.mastercard.co.uk" target="_blank"><svg class="icon icon-mastercard"><use xlink:href="#icon-mastercard"></use></svg></a></li>
			<li><a href="http://go.sap.com/index.html" target="_blank"><svg class="icon icon-sap"><use xlink:href="#icon-sap"></use></svg></a></li>
			<li><a href="https://www.gov.uk/government/organisations/uk-trade-investment" target="_blank"><svg class="icon icon-uktrade"><use xlink:href="#icon-uktrade"></use></svg></a></li>
			<li><a href="https://www.vendhq.com" target="_blank"><svg class="icon icon-vend"><use xlink:href="#icon-vend"></use></svg></a></li>
		</ul>
	</div>
	</div>
	
</div>