<div class="row expanded columns sponsors">
	
	<div class="row">
	<div class="small-12 columns text-center">
	<h5>Partners</h5>
	</div>
	</div>
	
	<div class="row">
	<div class="small-12 columns">
		<ul class="menu align-center sponsors__menu">
			<li><a href="https://www.vendhq.com" target="_blank"><svg class="icon icon-vend"><use xlink:href="/assets/icons/symbol-defs.svg#icon-vend"></use></svg></a></li>
			<li><a href="https://www.vendhq.com" target="_blank"><svg class="icon icon-mastercard"><use xlink:href="/assets/icons/symbol-defs.svg#icon-mastercard"></use></svg></a></li>
			<li><a href="http://g.grantthornton.co.uk/explore/" target="_blank"><svg class="icon icon-grant-thornton"><use xlink:href="/assets/icons/symbol-defs.svg#icon-grant-thornton"></use></svg></a></li>
		</ul>
	</div>
	</div>
	
</div>