<!-- Sub Navigation -->
<div class="sub-navigation show-for-medium">
<div class="row">
<div class="small-12 columns">
<ul class="vertical medium-horizontal dropdown menu">
	
	<li class="active">
	<a href="" class="">All</a>
	</li>
	
	{% for item in site.data.navigation.sub-tags %}
	<li>
	<a href="{{ item.url }}" class="">{{ item.title }}</a>
	</li>
	{% endfor %}
	
</ul>
</div>
</div>
</div>
<!-- End Sub Navigation -->

<!-- Sub Navigation -->
<div class="sub-navigation show-for-small-only">
<div class="row">
<div class="small-12 columns">
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Filter</a>
    <div class="accordion-content" data-tab-content>
    <ul class="menu vertical">
	
	<li class="active">
	<a href="" class="">All</a>
	</li>
	
	{% for item in site.data.navigation.sub-tags %}
	<li>
	<a href="{{ item.url }}" class="">{{ item.title }}</a>
	</li>
	{% endfor %}
	
</ul>
    </div>
  </li>
  <!-- ... -->
</ul>
</div>
</div>
</div>
<!-- End Sub Navigation -->