<div class="row expanded subscribe">
<div class="small-12 columns text-center">
<h5>Subscribe</h5>
<svg class="icon icon-envelop2"><use xlink:href="#icon-envelop2"></use></svg> Get our newsletter Dolor here lorem opsum

<form class="subscribe__form">
<div class="row">
	<div class="medium-12 columns">
		<ul class="menu align-center">
		    <li><input type="text" placeholder="Email Address" class="text-center"></li>
		    <li><button type="button" class="subscribe__button button secondary hollow">Sign Up</button></li>
		</ul>   
	</div>
</div>
</form>


</div>
</div>
