<div class="row expanded subscribe" id="subscribe__bottom">
<div class="small-12 columns text-center">
<h5><svg class="icon icon-envelop2" style="top: -2px; position: relative;"><use xlink:href="/assets/icons/symbol-defs.svg#icon-envelop2"></use></svg> Subscribe</h5>
<div class="align-middle">

<form action="somethinghere" method="post" target="_blank" data-abide novalidate>

<div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> There are some errors in your form.</p>
</div>
  
<!-- Email Address -->
<div class="row align-middle align-center">
	<div class="small-12 medium-6 columns">
  	<div class="input-group">
    <input type="email" value="" name="EMAIL" class="input-group-field" placeholder="signup@email.com" required>
    <div class="input-group-button">
    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
    </div>
	</div>
</div>
<!-- End Email Address -->

</form>

</div>
</div>
</div>