<div class="row expanded subscribe">
<div class="small-12 columns text-center">
<h5>Subscribe</h5>
<div class="align-middle"><a data-open="exampleModal1"><svg class="icon icon-envelop2"><use xlink:href="#icon-envelop2"></use></svg> Get our newsletter</a></div>

<div class="reveal" id="exampleModal1" data-reveal>
  <script src="//app-sjg.marketo.com/js/forms2/js/forms2.min.js"></script>

<form id="mktoForm_4906"></form>

<script>MktoForms2.loadForm("//app-sjg.marketo.com", "324-QRH-396", 4906);</script>
</div>


</div>
</div>
