$project-white       	: #ffffff;
$project-grey       	: #e3e5e7;
$project-dark-grey      : #666666;
$project-black   		: #222222;
$project-yellow			: #F8EC31;
$project-teal			: #00A69D;
$project-orange			: #F6931D;
$project-magenta		: #EB008B;
$project-purple			: #91278F;


