@font-face {
  font-family: 'GothamCondensed-Book';
  src: 
  url('../fonts/GothamCondensed-Book.woff') format('woff'), 
  url('../fonts/GothamCondensed-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamCondensed-Bold';
  src: 
  url('../fonts/GothamCondensed-Bold.woff') format('woff'), 
  url('../fonts/GothamCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: 
  url('../fonts/Gotham-Book.woff') format('woff'), 
  url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: 
  url('../fonts/Gotham-Medium.woff') format('woff'), 
  url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: 
  url('../fonts/Gotham-Bold.woff') format('woff'), 
  url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}