// Standard

:focus {
	outline: 0;
}

svg {
	max-width: 100%;
}


img {
	display: block;
	max-width: 100%;
	height: auto
}

input::-webkit-input-placeholder {
color: $color--white !important;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// Typography

.uppercase {
	text-transform: uppercase;
}

@mixin accent-text {
	text-transform: uppercase;
	font-family: $header-font-family-accent;
	letter-spacing: $letter-spacing--looser;
}

// Layout


// Announcement
.announcement {
	background-color: $color--light-gray;
	color: $color--white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.announcement__location {
	@include accent-text;
	padding-left: 1rem;
	padding-right: 1rem;
}


// Header
.header__logo {
	width: 4rem;
	height: 2rem;
}

.top-bar {
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.top-bar-left {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.top-bar-right {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.top-bar-right__subscribe {
	padding-left: 1rem;
}

.top-bar .menu > li > a {
	padding: 0.7rem 0.7rem;
}

#top-bar__logo__desktop {
  --teal-color: $color--teal;
  --purple-color: $color--purple;
  --magenta-color: $color--magenta;
  --yellow-color: $color--yellow;
  --black-color: $color--black;
  --orange-color: $color--orange;
  transition: $primary-transition;
}

.header__home:hover #top-bar__logo__desktop {
  --teal-color: $color--gray;
  --purple-color: $color--gray;
  --magenta-color: $color--gray;
  --yellow-color: $color--gray;
  --black-color: $color--gray;
  --orange-color: $color--gray;
}

// Sub Navigation

.sub-navigation {
	background-color: $color--lightest-gray;
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size: 1.3rem;
	letter-spacing: 0.1em;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

//Index
.index__content {
	background: linear-gradient(to right bottom, $color--white 50%, $color--lighter-gray 50%, $color--white 75%, $color--lighter-gray 75%);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.index__latest__title h6 {
	@include accent-text;
}

.index__connect {
	padding-bottom: 2rem;
}

.index__connect h6 {
	@include accent-text;
}

.index__top__title h6 {
	@include accent-text;
	margin-bottom: 0rem;
}



// Excerpt

.excerpt__image {
	margin-top: 1rem;
	margin-bottom: 1rem;
    position:relative;
}

.excerpt__image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: $primary-transition;
}

.excerpt__image:hover:after {
    opacity:1;
}

.excerpt__image__top {
	margin-top: 1rem;
	margin-bottom: 1rem;
    position:relative;
}

/*
.excerpt__image__top:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.excerpt__image__top:hover:after {
    opacity:1;
}
*/

.excerpt__image__top img {
    filter: grayscale(1);
    -webkit-backface-visibility: hidden;
    transition: $primary-transition;
}

.excerpt__image__top img:hover {
	-webkit-backface-visibility: hidden;
    filter: grayscale(0);
}

.excerpt__image__top__number__background {
	position: absolute;
	top: 0;
	left:0;
	border: 2rem solid transparent;
	border-top-color: $color--dark-orange;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: $color--orange;
}

.excerpt__image__top__number {
	position: absolute;
	top: 0;
	left: 0.5rem;
	color: $color--white;
	font-family: $header-font-family;
 	font-size: 1.5rem;
}

.excerpt__tag {
	font-size: $small-font-size;
	text-align: right;
}

li.excerpt__tag.align-right {
	margin-right: 0rem;
}

.excerpt__length {
	font-size: $small-font-size;
	text-align: right;
	text-transform: uppercase;
	color: $color--light-gray;
}

.excerpt__tag__link {
	text-transform: uppercase;
}

.excerpt__category {
	font-size: $small-font-size;
}

.excerpt__category__link {
	text-transform: uppercase;
}

.excerpt__title {
	line-height: $line-height--tight
}

// Page

.page__title {
	padding-top: 3rem;
}

.page__content {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

// Post
.post__wrapper {
	background-color: $color--teal;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.post__panel {
	background-color: $color--white;
	padding: 4rem;
}

.post__title {
}

.post__hero {
	padding-top: 3rem;
}

.post__content {
	padding-top: 3rem;
}

// Category

.category {
  background: #FAFAFA;
  height: 500px; /* set gallery height */
}

.category-cell {
  width: 100%;
  height: 100%; /* inherit height from gallery */
//   margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 1;
}

/*
.category__header {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
*/

.category__header {
  width: 100%;
  height: 100%; /* inherit height from gallery */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 1;
  position: relative;
  @include breakpoint(medium) {
  padding: 3rem;
  }
  @include breakpoint(large) {
  padding-top: 3rem;
  padding-bottom: 3rem
  }
}

.category__header__content {
	background-color: $color--white;
	padding: 1rem;
	@include breakpoint(medium) {
  padding: 3rem;
  }
}

.category__content__wrap {
	background: linear-gradient(to right bottom, $color--white 50%, $color--lighter-gray 50%, $color--white 75%, $color--lighter-gray 75%);
}

.category__content {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.category__title {
	text-transform: uppercase;
	font-family: $header-font-family-accent;
	letter-spacing: $letter-spacing--looser;
}

.category__link .icon:hover {
	fill: $color--dark-gray;
}

.category__image img {
 	z-index: -1;
 	position: absolute; 
 	left: 0px; 
 	bottom:0px; 
 	width: 100%;
 	height: 100%;
    object-fit: cover;
    overflow: hidden;
 	opacity: 0.9;
}

//Carousel

.carousel__header {
	font-family: $header-font-family;
 	font-size: 4rem;
}

.carousel__text {
	padding-top: 3rem;
 	z-index: 1;
}

.carousel__title {
 	text-transform: uppercase;
	font-family: $header-font-family-accent;
	letter-spacing: $letter-spacing--looser;
	background-color: $color--white;
	padding: 1rem 1.5rem 0rem 1.5rem;
}

.carousel__header {
 	line-height: $line-height--tight;
 	background-color: $color--white;
	padding: 1rem 1.5rem;
}

.carousel__subheader {
 	line-height: $line-height--tight;
 	background-color: $color--white;
	padding: 1rem 1.5rem;
}

.carousel__button {
 	line-height: $line-height--tight;
 	background-color: $color--black;
	padding: 1rem 1.5rem;
	margin-top: 1rem;
	&:hover {
      background-color: $color--white;
      color: $color--black;
    }
}

.carousel__image img {
 	z-index: -1;
 	position: absolute; 
 	left: 0px; 
 	bottom:0px; 
 	width: 100%;
 	height: 100%;
    object-fit: cover;
    overflow: hidden;
 	opacity: 0.9;
}



// Sponsors
.sponsors {
	background-color: $color--light-gray;
	color: $color--dark-gray;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.sponsors a {
	color: $color--dark-gray;
	&:hover {
    color: black;
  }
}

/*
.sponsors__menu {
	@include menu-direction(vertical);
	@include breakpoint(medium) {
    @include menu-direction(horizontal);
  	}
}
*/

.sponsors .icon {
	font-size: 3rem;
	@include breakpoint(medium) {
    font-size: 5rem;
  	}
}

.sponsors h5 {
	text-transform: uppercase;
	font-family: $header-font-family-accent;
	letter-spacing: $letter-spacing--looser;
}

// Subscribe
.subscribe {
	background-color: $color--orange;
	color: $color--white;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.subscribe__form {
	padding-top: 1rem;
}

.subscribe__button {
	margin-left: 2rem;
}

.subscribe h5 {
	text-transform: uppercase;
	font-family: $header-font-family-accent;
	letter-spacing: $letter-spacing--looser;
}

// Footer
.footer__top {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.footer__top .menu > li > a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.footer__bottom {
	background-color: $color--lightest-gray;
}

.footer__bottom .menu-text {
	font-family: $header-font-family-accent;
	font-weight: $global-weight-normal;
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

.footer__bottom__copyright {
	text-align: center;
	@include breakpoint(medium) {
    text-align: left;
  	}
}

.footer__bottom__socials {
	@include flex-align(center, null);
	@include breakpoint(medium) {
    @include flex-align(right, null);
  	}
}

// Testing

.current a {
  color: $color--dark-gray;
}