// Standard

:focus {
	outline: 0;
}

svg {
	max-width: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto
}


// Typography

.uppercase {
	text-transform: uppercase;
}

h1, h2 {
	font-family: $header-font-family-condensed;
	line-height: $line-height--tight;
}
// Layout


// Announcement
.announcement {
	background-color: $color--light-gray;
	color: $color--white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

// Header
.header__logo {
	width: 4rem;
	height: 2rem;
}

.top-bar {
	font-family: $header-font-family;
}

.top-bar-right {
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

.top-bar-right__subscribe {
	padding-left: 1rem;
}

//Index
.index__content {
	background: linear-gradient(to right bottom, $color--white 50%, $color--lighter-gray 50%, $color--white 75%, $color--lighter-gray 75%);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.index__latest__title {
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

.index__connect {
	padding-bottom: 2rem;
}

.index__connect h6 {
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

.index__top__title {
	text-transform: uppercase;
	padding-bottom: 0rem;
	letter-spacing: $letter-spacing--looser;
}



// Excerpt
.excerpt__image {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.excerpt__tag {
	font-size: $small-font-size;
	text-align: right;
}

.excerpt__tag__link {
	text-transform: uppercase;
}

.excerpt__category {
	font-size: $small-font-size;
}

.excerpt__category__link {
	text-transform: uppercase;
}

.excerpt__title {
}

// Category

.category__header {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.category__header__content {
	background-color: $color--white;
	padding: 3rem;
}

.category__title {
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

//Carousel

.carousel__header {
 	font-size: 4rem;
}

.carousel__highlight {
	display: inline;
	background: $color--white;
	color: $color--black;
	padding: 0.25em;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 10px 0 0 $color--white, -10px 0 0 $color--white;
}

// Sponsors
.sponsors {
	background-color: $color--light-gray;
	color: $color--dark-gray;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.sponsors a {
	color: $color--dark-gray;
	&:hover {
    color: black;
  }
}

.sponsors .icon {
	font-size: 5rem;
}

.sponsors h5 {
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

// Subscribe
.subscribe {
	background-color: $color--orange;
	color: $color--white;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.subscribe__form {
	padding-top: 1rem;
}

.subscribe h5 {
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

// Footer
.footer__top {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.footer__bottom {
	background-color: $color--lightest-gray;
}

.footer__bottom .menu-text {
	font-family: $header-font-family;
	font-weight: $global-weight-normal;
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

// Testing

