<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

{% include head.html %}

<body>

<!-- Announcement -->
{% include announcement.html %}
<!-- End Announcement -->

<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<div class="animated fadeIn">
	
<!-- Content -->
<section class="content">
{{ content }}
</section>
<!-- End Content -->

<!-- Sponsors -->
{% if page.url == "/" %}
{% include sponsors.html %}
{% endif %}
<!-- End Sponsors -->


<!-- Subscribe -->
{% include subscribe.html %}
<!-- End Subscribe -->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->

</div>

</body>
{% include scripts.html %}
</html>
