---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

{% include head.html %}

<body>

<!-- Google Tag Manager -->
{% include google-tag-manager.html %}
<!-- End Google Tag Manager -->
	
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}

<!-- Announcement -->
{% include announcement.html %}
<!-- End Announcement -->

<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<!-- Subscribe Top -->
{% include subscribe-top.html %}
<!-- End Subscribe Top -->

<!-- Content -->
<section class="content">
{{ content }}
</section>
<!-- End Content -->

<!-- Sponsors -->
{% if page.url == "/" %}
{% include sponsors.html %}
{% endif %}
<!-- End Sponsors -->


<!-- Subscribe -->
{% include subscribe.html %}
<!-- End Subscribe -->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->


<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

</body>



</html>
