---
layout: default
---

<div class="row expanded columns index__carousel">
{% include orbit.html %}
</div>

<!-- Content -->
<div class="row index__content">

<!-- Content Left -->
<div class="small-8 columns index__latest">

<div class="row columns index__latest__title">
<h6>All - Latest</h6>
</div>

<div class="row">
{% for post in site.posts limit:6 %}
<div class="small-6 columns">
{% include excerpt.html %}
</div>
{% endfor %}
</div>
</div>
<!-- End Content Left -->

<!-- Content Right -->
<div class="small-4 columns">

<!-- Content Right Connect -->
<div class="row columns index__connect">
<h6>Connect</h6>
<ul class="menu simple">
	<li><a href="#"><svg class="icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg></a></li>
	<li><a href="#"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a></li>
    <li><a href="#"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
    <li><a href="#"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
</ul>
</div>

<div class="row columns index__top__title">
<h6>Top Articles</h6>
</div>

<div class="row">
{% for post in site.posts limit:3 %}
<div class="small-12 columns">
{% include excerpt-top.html %}
</div>
{% endfor %}
</div>
</div>
<!-- End Content Right -->

</div>
<!-- End Content -->
